<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <title>Homepage</title>


</head>
<body>



    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Store Locator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li> -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Stores
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="pizzahut">Pizzahut</a>
                  <a class="dropdown-item" href="tacobell">Tacobell</a>
                  <a class="dropdown-item" href="starbucks">Starbucks</a>
                  <div class="dropdown-divider"></div>
                </div>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li> -->
            </ul>
          
      

            <ul class="navbar-nav ml-auto text-white">
                <li class="nav-item">Hello {{user.username}}!</li>
                <li class="nav-item px-4"><a href="logout" class="text-warning">Logout</a></li>
            </ul>

          </div>
      </nav>



<br><br>
<div class="message text-dark text-center">
  {% for message in messages %}
  <h5>{{message}}</h5>
  {% endfor %}
</div>

<br>

      <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to Store Locator</h1>
            <p class="lead">This is the place to get all the stores details.</p>
            <hr class="my-4">
            <p>You can click any button to get the desired stores details</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="pizzahut" role="button">Pizzahut</a>

              <a class="btn btn-primary btn-lg" href="tacobell" role="button">Tacobell</a>

              <a class="btn btn-primary btn-lg" href="starbucks" role="button">Starbucks</a>
            </p>
          </div>
      </div>









      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

</body>
</html>